/*Шрифты*/
    /*Bahnschrift*/@font-face {
        font-family: 'Bahnschrift'; 
        src: url(fonts/Bahnschrift/Bahnschrift.ttf); }
    /*Desoto*/@font-face {
        font-family: 'Desoto'; 
        src: url(fonts/Desoto/desoto.ttf); }
/*Анимации*/
    @keyframes hover {
        from {
            transform: scale(1);
            background-color: #617fae;
            color: whitesmoke;
        }

        to {
            transform: scale(1.05);
            background-color: #4a6796;
            color: rgb(255, 255, 255);
        }}
        @-webkit-keyframes hover {
            from {
                transform: scale(1);
                background-color: #617fae;
                color: whitesmoke;
            }

            to {
                transform: scale(1.05);
                background-color: #4a6796;
                color: rgb(255, 255, 255);
            }}

    @keyframes hoverHome {
        from {
            transform: scale(1);
            color: whitesmoke;
        }

        to {
            transform: scale(1.05);
            color: rgb(255, 255, 255);
        }}
        @-webkit-keyframes hoverHome {
            from {
                transform: scale(1);
                color: whitesmoke;
            }

            to {
                transform: scale(1.05);
                color: rgb(255, 255, 255);
            }}
/*Стили*/
    body {
        margin: 0%;
        background-color: #1c263b;}
    header {
        background-color: #314262;
        height: 64px;
        display: flex;
        user-select: none;
        position: fixed;
        position: absolute;
        width: 100%;}
    .razdel {
            background-color: #ffffff;
            width: 5px;
            height: 48px;
            margin-left: 15px;
            margin-right: 5px;
            border-radius: 4px;
            transform: translate(0px, 8px);}
    .knopka {
            background-color: #617fae;
            border-radius: 10px;
            padding: 4px;
            padding-top: 1px;
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: 32px;
            text-shadow: #293050 0 3px;
            color: whitesmoke;
            font-family: Bahnschrift;
            margin-left: 10px;
            border: 2px solid;}
        .knopka:hover {
            cursor: pointer;
            animation: hover .25s ease 0s 1 normal forwards;}
        .knopka:focus {
            transform: scale(0.9);}
    .titleH {
            font-size: 48px;
            color: whitesmoke;
            font-family: Desoto;
            margin-left: 10px;
            margin-top: 8px;
            margin-bottom: 8px;
            text-shadow:
                -1px -1px 0 #293050,
                1px -1px 0 #293050,
                -1px 1px 0 #293050,
                1px 1px 0 #293050;}
        .titleH:hover {
            cursor: pointer;
            animation: hoverHome .25s ease 0s 1 normal forwards;}
    .mainSite {
            align-content: center;
            height: 1500px;
            transform: translate(0, 64px);}
    .contentBox {
            height: 800px;
            background-color: black;
            border-radius: 50px;
            transform: translate();
            margin-left: 15%;
            margin-right: 15%;
            border: whitesmoke 5px;}
    .footer {
            background-color: #314262;
            height: 300px;
            font-size: 100px;
            color: whitesmoke;
            align-content: center;
            display: flex;
            flex: vertical;
            font-family: Bahnschrift;}